* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background: white;
  padding: 25px;
  width: 320px;
  border-radius: 10px;
}

.todo-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background: #1f1c2c;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f4f6f9;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}
