*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;

}

body {
    height:100vh;
    background: linear-gradient(135deg, #1f1c2c, #47d319);
    display:flex;
    justify-content:center;
    align-items:center;

}

.container{
    width:350px;

}

.login-form{
    background-color:#fff;
    padding:30px;
    border-radius:10px;
    
}

.login-form h2{
    text-align:center;
    margin-bottom:20px;

}

.form-control{
    margin-bottom:15px;
}

.form-control label{
    display:block;
    margin-bottom:5px;
}

.form-control input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    

}
.form-control small{
    color:red;
    visibility:hidden;

}

.button{
    width:100%;
    padding:10px;
    background-color:#1f1c2c;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

#success{
   margin-top:10px;
   color:green;
   text-align:center;
}